/* ==UserStyle==
@name        Bazqux.com
@namespace   https://github.com/Seigiard
@version     0.0.1
@updateURL   https://raw.githubusercontent.com/Seigiard/userstyles/refs/heads/main/Bazqux.com.user.css
@match       https://bazqux.com
==/UserStyle== */

body {
    --header-line-height: 1.5;
    --paragraph-line-height: 1.4;
    --header-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --paragraph-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}
.left {
    background-color: #f6f6f6;
}
.subscriptions li {
    padding: 0.125rem 0;
}
.msgsPadder {
    padding: 0;
}
.subscriptionTitle {
    padding-inline: 1rem;
}
.msgFrame {
    position: relative;
    border-width: 0;
    display: grid;
    grid-template-areas: "logo header buttons" "_ message message";
    grid-template-columns: 2rem 1fr max-content;
    align-items: start;
    gap: 1rem;
    padding: 1rem 1rem 2rem;
}
.msgFrame.selected::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #ddd;
}
.msgFrame > span, .msgCollapseMargin, .msgBody {
    display: contents;
}
div.authorPic {
    all: unset;
    grid-area: logo;
    width: 2rem;
    height: 2rem;
}
.msgButtons {
    --msgButtons-height: 1rem;
    grid-area: buttons;
}
.msgBodyHeader {
    grid-area: header;
    align-self: center;
}
.post .mtext {
    grid-area: message;
    margin: 0;
}
.fromFeed {
    margin: 0;
}
.fromFeed,
.mauthor {
    font-size: 0.75em;
}
.fromFeed + .mauthor, .mtags + .mauthor, .mtags, .fromFeedFrom {
    display: none;
}
.button,
.textButton {
    border-radius: 4px;
}
.mtime {
    font-size: 1rem;
}
.bqrTelegram_media_not_supported_cont {
    margin-top: 1em;
    font-size: 0.75em;
    font-style: italic;
}
.iconMsgTag, .iconShare, .bqrTelegram_js-message_reactions, .msgsHeader {
    display: none;
}
