/* ==UserStyle==
@name           Dtf
@namespace   https://github.com/Seigiard
@version        0.4
@updateURL   https://raw.githubusercontent.com/Seigiard/userstyles/refs/heads/main/Dtf.user.css
@preprocessor	stylus
==/UserStyle== */

@-moz-document domain("dtf.ru")
{
 	body {
		zoom: 1.1;
	}

	.sidebar {
		scrollbar-width: thin;
		scrollbar-color: var(--scrollbar-color) transparent !important;
	}

	.sidebar-item[href='/discovery'],
	.sidebar-item[href='/m'],
	.sidebar-item[href^='/pay'],
	/* Правая панель */
	.aside.aside--right,
	/* Cсылки 'О проекте', 'Правила' и т.д. */
	.sidebar__section:last-child,
	/* Реклама Plus */
	.popover:has(.reaction-plus-restriction),
	.distribution,
	.comments-limit__expand-always,
	.supbar--top,
	.account-menu__group:last-child,
	div[style$=" 32px;"],
	div[style$=" 64px;"],
	.popover-overlay:has(.subsite-followers),
	.content__reactions,
	.content__floating,
	.content-footer-button:has(.icon--bookmark),
	.content-footer-button:has(.icon--reply),
	.content-footer-button:has(.icon--gift),
	.content-footer__share,
	.content-views-wrapper,
	.comment-reactions,
	.rotator,
	.dev-helper {
		display: none !important;
	}
}
