/* ==UserStyle==
@name        Wikipedia.com
@namespace   https://github.com/Seigiard
@version     0.0.1
@updateURL   https://raw.githubusercontent.com/Seigiard/userstyles/refs/heads/main/Wikipedia.com.user.css
==/UserStyle== */

@-moz-document domain("wikipedia.com") {
  body {
    --font-size-medium:1rem;
    --line-height-medium:1.75;
    font-family: system-ui, sans-serif;
  }

  .mw-body h1, .mw-body .mw-heading1, .mw-body-content h1, .mw-body-content .mw-heading1, .mw-body-content h2, .mw-body-content .mw-heading2 {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  }
  .mw-body h1, .mw-body .mw-heading1, .mw-body-content h1, .mw-body-content .mw-heading1 {
    font-size: 2rem;
  }

  .vector-user-links {
    display: none;
  }
}
